*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Sytle  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}
.btn:hover{
    background-color: #0f2b06;
    color: #30B868;
    cursor: pointer;
}

/* Main Style  */
header{
    padding-top: 16px;
}
nav{
    width: 88%;
    max-width: 1360px;
    /* border: 1px solid aqua; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    /* align-items: center; */
}

nav .menu a{
    font-size: 16px;
    color:#000000 ;
    text-decoration: none;
    transition: 0.2s;
}
nav .menu li a:hover{
    color: #30B868;
}


/* banner */
.banner {
  background: url("/assets/hero-bg.png");
  position: relative;
  color: #fff;
}
.banner-overlay {
  position: absolute;
  background: rgba(14, 53, 97, 0.75);
}
.banner-content {
  position: relative;
  text-align: center;
  padding-top: 154px;
  padding-bottom: 179px;
}
.earlybtn {
  width: 15%;
  display: flex;
  gap: 10px;
  background: #ffffff;
  color: #30B868;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 16px auto;
  transition: 0.3s;
  
}
.earlybtn:hover{
  background-color: #7df1ae;
  color: #ffffff;
  cursor: pointer;
}
.banner h1 {
  font-size: 3rem;
}
.banner h1 span {
  color: #30B868;
}
.actions {
  margin-top: 32px;
}
.btn-outline{
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 12px;
    transition: 0.5s;
}
.btn-outline:hover{
    background-color: #30B868;
    cursor: pointer;
}

/* Notes section */
.notes {
    width: 88%;
    margin: auto 100px;
  text-align: center;
  padding: 30px;
}
.notes p{
    margin-top: 10px;
}
.cards {
  display: flex;
  gap: 20px;
  margin: 40px 120px;
  /* padding: ; */
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}


/* SOLUTION */
.solution {
    width: 88%;
    margin: auto 100px;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 60px;
}

.label {
  color: #30B868;
  font-weight: 700;
}

.solution ul {
  margin-top: 20px;
}

.solution li {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
}

/* Ready to Think */
.ready {
  width: 88%;
  background: #f8f6ef;
  text-align: center;
  padding: 80px 20px;
  margin: auto 100px;
  
}
.ready p{
    margin-bottom: 20px;
}

.ready small {
  display: block;
  margin-top: 20px;
  color: #64748b;
}


/* FOOTER */
.footer {
  background: #06172b;
  color: #fff;
  padding: 60px 20px;
}

.footer-content {
    width: 88%;
    margin: auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social span{
  transition: 0.5s;
}
.social span a:hover{
  color: #30B868;
}

.copy {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
  border-top: 1px solid white;
  padding-top: 20px;
}