*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Sytle  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
}

/* Main Style  */
header{
    padding-top: 16px;
}
nav{
    width: 88%;
    max-width: 1360px;
    /* border: 1px solid aqua; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    color:#000000 ;
    text-decoration: none;
}
